.CardUIBox {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

.walletBox {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(0, -50%);
}