.snow-demo-wrapper {
  background: #DFEAFF;
  overflow: hidden;
  height: 568px;
  position: relative;

  .snow-demo {
    $distance: 300px;
    $boxWidth: 310px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url('../../style/img/Snowbg.jpg');
    background-position: top;
    background-size: 100% auto;

    @function mod($a, $b) {
      @return $a - floor($a / $b) * $b;
    }

    @function randomFn($a, $b) {
      @return (random() * ($b - $a))+$a;
    }

    @for $i from 0 through 9 {
      $left: random() * ($boxWidth - 52px);

      .snow-#{$i} {
        background: url('../../style/img/fseEOKMDOXOieJiHKuQg.png') no-repeat;
        background-size: 420px 104px;
        width: 52px;
        height: 52px;
        background-position-x: -(mod($i, 8)*52px);
        background-position-y: -(floor($i/8)*52px);
        // animation: fall-#{$i} 3s linear random() * -0.6s 1 forwards;
        position: absolute;
        top: (random() * -$distance) - 52px;
        left: $left;
      }

      @keyframes fall-#{$i} {
        from {
          transform: translate(0, 0) rotateY(0deg);
        }

        to {
          transform: translate(randomFn(-$left, $boxWidth - $left), 100vh * 1.5) rotateY(random() * 360deg);
        }
      }

      .start.snow-#{$i} {
        animation: fall-#{$i} 2s linear random() * -0.6s 1 forwards;
      }

      .pause {
        animation-play-state: paused; // 动画暂停
      }
    }
  }

  .btn {
    width: 90%;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    background: linear-gradient(#ed9d47, #eb8724);
    position: absolute;
    bottom: 33px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
  }
}