.box {
  position: relative;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  height: 100vh;

  canvas {
    background-image: linear-gradient(#9FF781, #F3F781);
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
    color: #333;

    p {
      &:nth-of-type(1) {
        color: white;
        letter-spacing: 1px;
        font-size: 70px;
        line-height: 70px;
        font-weight: 700;
      }

      &:nth-of-type(2) {
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }

}