@import './style/base/default.scss';
@import "./style/base/theme.scss";
@import './style/base/public.scss';
// @import './style/iconfont/iconfont.css';


.app {
  // 公共样式部分start
  .line {
    display: flex;
    flex-direction: row;
    color: $line-below-fc;

    >div {
      >div{
        &:nth-of-type(1) {
          color: $line-upper-fc;
        }
      }
    }

    .flex-grow-two {
      flex-grow: 2;
      text-align: left;
    }
  }

  .equal-divide {
    justify-content: space-evenly;
    align-items: center;

    >div {
      flex-grow: 1;
      text-align: center;
    }
  }

  .item-centre-border {
    > div {
      position: relative;
      &:not(:nth-last-of-type(1)) {
        &::after {
          content: '';
          width: $line-centre-border-w;
          height: $line-centre-border-h;
          background: $line-centre-borderc;
          position: absolute;
          top: 50%;
          right: 0;
        }
      }
    }
  }

  .space-between {
    justify-content: space-between;
  }
  // end







  h5 {
    text-align: center;
  }

  .line {
    background: $white;
    padding: 18px 8px 15px;
    font-size: 14px;

    >div {
      >div{
        &:nth-of-type(1) {
          color: $line-upper-fc;
          font-size: 16px;
        }
      }
    }
  }

  #price-rc {
    color: #F63C24;
  }
  #price-fc {
    color: #00A814;
  }

  .screen {
    background: $white;
      .space-between {
        border-bottom: 1px solid #999999;
        margin: 10px 15px 0 15px;
        padding-bottom: 11px;
        i {
          margin-right: 11px;
        }
        div {
         &:nth-of-type(2) {
           color: #333333;
           font-size: 12px;
         } 
        }
      }
  }
  
}