body {
  overflow: hidden;
}

.login {
  min-height: 100vh;
  position: relative;
  color: #fff;

  $duration: 1.05s;
  $delay: .3s;
  $cubicBezier: cubic-bezier(.215, .61, .355, 1);

  .page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .fade {
    z-index: 9;
    background: #461467;
    animation: fade $duration $cubicBezier 0s 1 forwards;
  }

  .fadeLeave {
    z-index: -1;
    background: #461467;
    animation: fadeLeave $duration $cubicBezier $delay 1 forwards;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeLeave {
    from {
      opacity: 1;
      transform: scale(1);
    }

    to {
      opacity: 0;
      transform: scale(.8);
    }
  }

  .slide {
    z-index: 9;
    left: 100%;
    background: #ffba57;
    animation: slide $duration $cubicBezier $delay 1 forwards,
      scale .8s cubic-bezier(0, 1.24, .4, .97) 1.35s 1 forwards;
    transform: scale(0.8);
  }

  .slideLeave {
    z-index: -1;
    background: #ffba57;
    animation: slideLeave $duration $cubicBezier $delay 1 forwards;
  }

  @keyframes slideLeave {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes slide {
    0% {
      left: 100vw;
    }

    to {
      left: 0px;
    }
  }

  @keyframes scale {
    0% {
      transform: scale(0.8);
    }

    to {
      transform: scale(1);
    }
  }

  .slideUp {
    z-index: 9;
    top: 100vh;
    background: #f5dd79;
    animation: slideUp $duration $cubicBezier $delay 1 forwards,
      scale .8s cubic-bezier(0, 1.24, .4, .97) 1.35s 1 forwards;
    transform: scale(0.8);
  }

  .slideUpLeave {
    z-index: -1;
    background: #f5dd79;
    animation: slideUpLeave $duration $cubicBezier $delay 1 forwards;
  }

  @keyframes slideUpLeave {
    from {
      top: 0;
    }

    to {
      top: -100vh;
    }
  }

  @keyframes slideUp {
    from {
      top: 100vh;
    }

    to {
      top: 0;
    }
  }

  .zoom {
    z-index: 9;
    background: #ffc8bb;
    animation: zoom $duration $cubicBezier $delay 1 forwards;
  }

  .zoomLeave {
    z-index: -1;
    background: #ffc8bb;
    animation: zoomLeave $duration $cubicBezier $delay 1 forwards;
  }

  @keyframes zoomLeave {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(0);
    }
  }

  @keyframes zoom {
    from {
      opacity: 0;
      transform: scale(2);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .flipX {
    z-index: 9;
    opacity: 0;
    background: #00dfcf;
    animation: flipX $duration $cubicBezier $delay 1 forwards;
  }

  .flipXLeave {
    z-index: -1;
    background: #00dfcf;
    animation: flipXLeave $duration $cubicBezier $delay 1 forwards;
  }

  @keyframes flipXLeave {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(0);
    }
  }

  @keyframes flipX {
    from {
      opacity: 0;
      transform: rotateX(90deg);
      transform-origin: 50% 50%;
    }

    to {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  .flipY {
    z-index: 9;
    opacity: 0;
    background: #8ed3c9;
    animation: flipY $duration $cubicBezier $delay 1 forwards;
  }

  .flipYLeave {
    z-index: -1;
    background: #8ed3c9;
    animation: flipYLeave $duration $cubicBezier $delay 1 forwards;
  }

  @keyframes flipYLeave {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(0);
    }
  }

  @keyframes flipY {
    from {
      opacity: 0;
      transform: rotateY(90deg);
      transform-origin: 50% 50%;
    }

    to {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }

  .buttons {
    z-index: 10;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0);
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding: 0;

    >div {
      cursor: pointer;
      overflow: hidden;
      display: inline-block;
      height: 30px;
      line-height: 28px;
      margin: 0 10px;
      padding: 0 30px;
      border-radius: 10px;
      font: 12px Arial, sans-serif;
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      background: #505050;
      opacity: 0.6;

      &.active {
        background: #b6b6b6;
      }

      >p {
        display: inline-block;
        margin: 8px auto;
      }
    }
  }
}