@charset "utf-8";

/********** Main theme colors **********/
$white: #fff !default;
$line-upper-fc: #CD4349;
$line-below-fc: #A17568;
$line-centre-borderc: #E5DAD1;
$blue: #0186D9;

$line-centre-border-w: 1px;
$line-centre-border-h: 10px;